In [ ]:
import Remake_Dataset as rd 
import pandas as pd
import sqlite3

In [ ]:
# Đọc dữ liệu từ CSV
df = rd.Remake()

# Kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15596\3626823192.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"D:\Download\Slide kỳ 3\ADY201\asm final\Accident_Information_Remake.csv")

In [24]:
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
print(tables)

              name
0  your_table_name
1    accident_data

In [ ]:

# Đọc dữ liệu từ CSV
df = df = rd.Remake()

# Kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Nhập dữ liệu vào bảng SQLite
df.to_sql('accident_data', conn, if_exists='replace', index=False)

# Kiểm tra lại xem bảng đã có dữ liệu
print("Các bảng hiện có:", pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn))

# Đóng kết nối
conn.close()

Các bảng hiện có:               name
0  your_table_name
1    accident_data

In [27]:


# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn đếm số lượng tai nạn theo từng loại thời tiết
query = '''
SELECT "Weather Conditions", COUNT(*) AS Accident_Count
FROM accident_data
GROUP BY "Weather Conditions"
ORDER BY Accident_Count DESC;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

             Weather Conditions  Accident_Count
0            Fine no high winds         1640095
1         Raining no high winds          239281
2                         Other           44083
3                       Unknown           42521
4          Raining + high winds           28343
5             Fine + high winds           25816
6         Snowing no high winds           13387
7                   Fog or mist           11068
8          Snowing + high winds            2487
9  Data missing or out of range             175

In [ ]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn đếm số lượng tai nạn nghiêm trọng theo năm
query = '''
SELECT Year, COUNT(*) AS Serious_Accident_Count
FROM accident_data
WHERE "Accident Severity" = 'Serious'
GROUP BY Year
ORDER BY Year;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

    Year  Serious_Accident_Count
0   2005                   25029
1   2006                   24946
2   2007                   24322
3   2008                   23121
4   2009                   21997
5   2010                   20440
6   2011                   20986
7   2012                   20901
8   2013                   19624
9   2014                   20676
10  2015                   20038
11  2016                   21725
12  2017                   22534

In [35]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn đếm số lượng tai nạn nghiêm trọng tập trung vào ngày nào trong tuần
query = '''
SELECT "Day of Week", COUNT(*) AS Serious_Accident_Count
FROM accident_data
WHERE "Accident Severity" = 'Serious'
GROUP BY "Day of Week"
ORDER BY Serious_Accident_Count DESC;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

  Day of Week  Serious_Accident_Count
0      Friday                   45877
1    Saturday                   41986
2    Thursday                   41376
3   Wednesday                   40683
4     Tuesday                   40503
5      Monday                   38588
6      Sunday                   37326

In [ ]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn đếm số lượng tai nạn theo từng loại đường
query = '''
SELECT "Road Surface Conditions", COUNT(*) AS Accident_Count
FROM accident_data
GROUP BY "Road Surface Conditions"
ORDER BY Accident_Count DESC;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

        Road Surface Conditions  Accident_Count
0                           Dry         1418215
1                   Wet or damp          568563
2                  Frost or ice           40321
3                          Snow           12167
4  Data missing or out of range            5145
5          Flood over 3cm. deep            2845

In [32]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn đếm số lượng tai nạn theo điều kiện ánh sáng
query = '''
SELECT "Light Conditions", COUNT(*) AS Accident_Count
FROM accident_data
GROUP BY "Light Conditions"
ORDER BY Accident_Count DESC;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

               Light Conditions  Accident_Count
0                      Daylight         1496121
1         Darkness - lights lit          404144
2        Darkness - no lighting          112644
3   Darkness - lighting unknown           24362
4       Darkness - lights unlit            9971
5  Data missing or out of range              14

In [33]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn để xem thành phố nào nhiều tai nạn nhất
query = '''
SELECT "Local Authority (District)", COUNT(*) AS Accident_Count
FROM accident_data
GROUP BY "Local Authority (District)"
ORDER BY Accident_Count DESC;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

    Local Authority (District)  Accident_Count
0                   Birmingham           39662
1                        Leeds           27334
2                  Westminster           19774
3                 Glasgow City           18555
4                     Bradford           18147
..                         ...             ...
411                   Oswestry             441
412           Shetland Islands             399
413         Berwick-upon-Tweed             337
414             Orkney Islands             321
415                   Teesdale             318

[416 rows x 2 columns]

In [46]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn để xem khung giờ nào nhiều tai nạn nhất
query = '''
SELECT strftime('%H', Time) AS Hour, COUNT(*) AS Accident_Count
FROM accident_data
GROUP BY Hour
ORDER BY Accident_Count DESC;
'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

    Hour  Accident_Count
0     17          181881
1     16          166024
2     15          158028
3     08          149480
4     18          142417
5     14          124227
6     13          123497
7     12          120279
8     19          106202
9     11          105685
10    09          101223
11    10           92494
12    07           86904
13    20           77981
14    21           62229
15    22           54211
16    23           42979
17    06           36591
18    00           31077
19    01           22746
20    02           18036
21    05           16861
22    03           14648
23    04           11400
24  None             156

In [ ]:
# Mở kết nối tới database SQLite
conn = sqlite3.connect('your_database.db')

# Thực hiện truy vấn để xem loại đường đi với tốc độ nào nguy hiểm nhất
query = '''
SELECT "Speed Limit", "Road Type", COUNT(*) AS Accident_Count
FROM accident_data
GROUP BY "Speed Limit", "Road Type"
ORDER BY Accident_Count DESC;

'''

# Thực hiện truy vấn và lưu kết quả vào DataFrame
result = pd.read_sql_query(query, conn)

# Hiển thị kết quả
print(result)

# Đóng kết nối sau khi truy vấn hoàn tất
conn.close()

    Speed limit                     Road Type  Accident_Count
0          30.0            Single carriageway         1080630
1          60.0            Single carriageway          282856
2          70.0              Dual carriageway          129370
3          40.0            Single carriageway           96836
4          30.0              Dual carriageway           86174
5          30.0                    Roundabout           84533
6          40.0              Dual carriageway           47844
7          30.0                One way street           38381
8          50.0            Single carriageway           36303
9          20.0            Single carriageway           31214
10         50.0              Dual carriageway           24717
11         40.0                    Roundabout           20771
12         60.0                    Roundabout           16019
13         60.0              Dual carriageway           13819
14         30.0                       Unknown           10451
15         70.0                     Slip road            9098
16         70.0                    Roundabout            8090
17         50.0                    Roundabout            6178
18         30.0                     Slip road            6005
19         20.0                One way street            3182
20         60.0                     Slip road            2682
21         50.0                     Slip road            1857
22         40.0                     Slip road            1685
23         20.0              Dual carriageway            1481
24         60.0                       Unknown            1392
25         20.0                    Roundabout            1155
26         20.0                       Unknown            1136
27         60.0                One way street             700
28         40.0                One way street             630
29         40.0                       Unknown             591
30         70.0                       Unknown             573
31         50.0                       Unknown             238
32         20.0                     Slip road             231
33         50.0                One way street             186
34         70.0                One way street             172
35          NaN            Single carriageway              18
36         15.0            Single carriageway              14
37          NaN                       Unknown               9
38          NaN                    Roundabout               8
39         10.0            Single carriageway               8
40         10.0                       Unknown               6
41         10.0                One way street               5
42         70.0            Single carriageway               2
43          NaN              Dual carriageway               1
44          NaN                One way street               1
45          0.0            Single carriageway               1
46         15.0              Dual carriageway               1
47         15.0                One way street               1
48         60.0  Data missing or out of range               1